<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/js/all.js"></script>

    <link rel="stylesheet" href="css/Publications.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Publications | iha consulting servises Pvt.Ltd</title>
</head>

<body>
    <!--left part-->
    <div class="publication_row">
        <div class="publication_col_left" id="pub_col_1">
            <a href="/">Home</a>
            <a href="/Publications">Publications</a>
            <a href="#">Events</a>
            <a href="#">Archived</a>
            <a href="#contact">Contact us</a>
            <a href="/about">About us</a>
        </div>
        <div class="three_bars" onclick="toggleFun()">
            <i class="fas fa-bars fa-2x" style="margin: 20px;"></i>
        </div>
    </div>
    <!--right part-->
    <div class="publication_col_right" id="publications">
        <div style="padding-top: 30px; text-align: center;">
            <div style="display: inline-block; height: 4px; background-color:red; max-width: 35px; width: 100%;">
            </div>
        </div>
        <h1 style="text-align: center;">Welcome to Iha medhas publications </h1>
        <div class="main_publications_container">

            <div class="row_1">
                <div id="image_container" class="row_1_child">
                    <img src="https://images.unsplash.com/photo-1597955942443-5a61862792aa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80"
                        alt="">
                </div>
                <div id="content_container" class="row_1_child">
                    <div class="publications_logo">
                        <h2>Publications Heading</h2>
                        <img src="image/paper_img.png" alt="">
                    </div>
                    <br>
                    <h4>Publications Sub heading</h4>
                    <br>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem facere fugit adipisci officia
                        incidunt, deleniti quae accusamus quos cumque sequi eaque corrupti amet animi, eum doloremque
                        quas architecto mollitia porro!
                        <br>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, qui. Voluptate, <span
                            id="dots">...</span>
                        <span style="display: none;" id="read_more">adipisci assumenda corrupti non beatae iste vero
                            esse consequatur? Repellat magni obcaecati doloremque veritatis ullam omnis voluptate
                            impedit asperiores.Lorem ipsum dolor sit amet
                            <br> consectetur adipisicing elit. <br> Ex fugit rem
                            doloremque modi hic ipsum maiores asperiores, nulla voluptas non inventore aliquam ipsam,
                            voluptatum pariatur laboriosam, quam quae quasi ratione.
                            <br>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero sunt dolorum quis doloremque
                            <br> harum nesciunt distinctio! Autem unde aperiam quisquam aut consequatur similique dicta
                            fuga laborum, officiis, in nobis mollitia!
                        </span>
                    </p>
                    <br>
                    <button id="read_more_btn" onclick="readMore()">Read more</button>
                </div>
            </div>
        </div>
        <div class="main_publications_container">

            <div class="row_1">
                <div id="image_container" class="row_1_child">
                    <img src="https://images.unsplash.com/photo-1504711331083-9c895941bf81?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                        alt="">
                </div>
                <div id="content_container" class="row_1_child">
                    <div class="publications_logo">
                        <h2>Publications Heading</h2>
                        <img src="image/paper_img.png" alt="">
                    </div>
                    <br>
                    <h4>Publications Sub heading</h4>
                    <br>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem facere fugit adipisci officia
                        incidunt, deleniti quae accusamus quos cumque sequi eaque corrupti amet animi, eum
                        doloremque
                        quas architecto mollitia porro!
                        <br>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, qui. Voluptate, <span
                            id="dots">...</span>
                        <span style="display: none;" id="read_more">adipisci assumenda corrupti non beatae iste
                            vero
                            esse consequatur? Repellat magni obcaecati doloremque veritatis ullam omnis voluptate
                            impedit asperiores.Lorem ipsum dolor sit amet
                            <br> consectetur adipisicing elit. <br> Ex fugit rem
                            doloremque modi hic ipsum maiores asperiores, nulla voluptas non inventore aliquam
                            ipsam,
                            voluptatum pariatur laboriosam, quam quae quasi ratione.
                            <br>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero sunt dolorum quis
                            doloremque
                            <br> harum nesciunt distinctio! Autem unde aperiam quisquam aut consequatur similique
                            dicta
                            fuga laborum, officiis, in nobis mollitia!
                        </span>
                    </p>
                    <br>
                    <button id="read_more_btn" onclick="readMore()">Read more</button>
                </div>
            </div>
        </div>
        <div class="main_publications_container">

            <div class="row_1">
                <div id="image_container" class="row_1_child">
                    <img src="https://images.unsplash.com/photo-1499725144476-a35e60e41ab8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=810&q=80"
                        alt="">
                </div>
                <div id="content_container" class="row_1_child">
                    <div class="publications_logo">
                        <h2>Publications Heading</h2>
                        <img src="image/paper_img.png" alt="">
                    </div>
                    <br>
                    <h4>Publications Sub heading</h4>
                    <br>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem facere fugit adipisci officia
                        incidunt, deleniti quae accusamus quos cumque sequi eaque corrupti amet animi, eum doloremque
                        quas architecto mollitia porro!
                        <br>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, qui. Voluptate, <span
                            id="dots">...</span>
                        <span style="display: none;" id="read_more">adipisci assumenda corrupti non beatae iste vero
                            esse consequatur? Repellat magni obcaecati doloremque veritatis ullam omnis voluptate
                            impedit asperiores.Lorem ipsum dolor sit amet
                            <br> consectetur adipisicing elit. <br> Ex fugit rem
                            doloremque modi hic ipsum maiores asperiores, nulla voluptas non inventore aliquam ipsam,
                            voluptatum pariatur laboriosam, quam quae quasi ratione.
                            <br>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero sunt dolorum quis doloremque
                            <br> harum nesciunt distinctio! Autem unde aperiam quisquam aut consequatur similique dicta
                            fuga laborum, officiis, in nobis mollitia!
                        </span>
                    </p>
                    <br>
                    <button id="read_more_btn" onclick="readMore()">Read more</button>
                </div>
            </div>
        </div>

        <!-- footer part -->

        <div class="foorter_container" id="contact" style="margin-top: 50px;">
            <div style="padding-top: 120px; text-align: center;">
                <div style="display: inline-block; height: 4px; background-color: red; max-width: 35px; width: 100%;">
                </div>
            </div>
            <div class="footer_row">

                <div class="col_3">
                    <img src="footer-logo.png" alt="">
                </div>

                <div class="col_3">
                    <div class="location">
                        <strong style="line-height: 25px;color:red;">Address</strong>

                        <div style="color: rgb(170, 169, 169);font-size: smaller;">
                            <i class="fas fa-map-marker"></i> : <span>

                                1-8-450/A9, Ground Floor, Indian <br>
                                Airlines Colony, Patigadda,Begumpet,<br>
                                Hyderabad, Telangana 500016
                            </span>
                        </div>

                        <div style="color: rgb(170, 169, 169);font-size: smaller;">
                            <i class="fas fa-phone-alt"></i><span> : 040-48538611 ,040-48538711</span>
                        </div>

                        <div id="email" style="color: rgb(170, 169, 169);font-size: smaller;">
                            <i class="fas fas fa-envelope"></i> :
                            <span> <a href="mailto:info@ihaconsulting.in">info@ihaconsulting.in</a></span>
                        </div>

                    </div>
                </div>

                <div class="col_3">
                    <strong style="line-height: 25px;color:red;">Quick Links</strong>
                    <ul class="Quick_Links" style="font-size: smaller; padding-left: 0;">
                        <li><a href="http://">Webinar</a></li>
                        <li><a href="#publications">Publications</a></li>
                        <li><a href="http://">Events</a></li>
                        <li><a href="http://">About us</a></li>
                    </ul>
                </div>


                <div class="col_3 small_device">
                    <div class="social_media">
                        <a href="http://"><i style="cursor: pointer;" class="fas  fab fa-linkedin-in fa-2x"></i></a>
                        <a href="http://"><i class="fas  fab fab fa-twitter fa-2x"></i></a>
                        <a href="http://"><i class="fas  fab fa-instagram fa-2x"></i></a>

                    </div>
                </div>
            </div>
            <div style=" font-size: smaller; background-color: rgb(9, 9, 39);
                         padding: 30px; text-align: center; color:cadetblue;">
                <i class="fas far fa-copyright"></i> 2021: Iha medhas - a platform by Iha Consulting Services Pvt. Ltd.
                All
                Rights Reserved.
            </div>
        </div>

    </div>





</body>
<script>
    function readMore() {
        var dots = document.getElementById('dots');
        var read_more = document.getElementById('read_more');
        var read_more_btn = document.getElementById('read_more_btn');

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            read_more_btn.innerHTML = "Read more";
            read_more.style.display = "none";
        } else {
            dots.style.display = "none";
            read_more_btn.innerHTML = "Read less";
            read_more.style.display = "inline";
        }
    }

    function toggleFun() {
        var x = document.getElementById('pub_col_1');
        if (x.className == 'publication_col_left') {
            x.className += " dropdown";
        } else {
            x.className = "publication_col_left";
        }
    }
</script>

</html>